<h1>Angular Template Driven Form</h1>

<form #loginform="ngForm" (ngSubmit)="loginUser(loginform.value)">
  <div>
  <input type="text" name="name" placeholder="Enter Name" ngModel>
  <br><br>
  <input type="password" name="password" placeholder="Enter Password" ngModel>
  <br><br>
</div>
 <button>Login</button>
</form>
<br>
<button (click)="loginUser(loginform.value)">Outside Login</button>



<style>
  input{
    color:black;
    background-color: lightblue;
    border-color: black;
    margin: 10px;
    padding: 10px;
  }
  button{
    color:black;
    background-color: lightblue;
    margin-top: 4px;
    margin-left: 15px;
  }
  div{
    display: flex;
  }

  </style>
